* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 900px;
}

.App-header__content h1 {
  margin-bottom: 0;
}

.project-tag {
  font-size: 18px;
  font-weight: normal;
  display: flex;
}
.project-tag img {
  height: 24px;
  padding-left: 6px;
  transition: height 0.2s linear;
}
.noGamesSection {
  padding: 10px;
}
.noGamesSection img {
  width: 100%;
  max-width: 300px;
}
.noGamesSection h2 {
  font-weight: normal;
}
.betting-summary {
  display: flex;
  background: #fff;
  color: #282c34;
  padding: 8px;
  border-radius: 5px;
  margin: 10px 0;
  min-height: 135px;
}
.betting-summary__date {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}
.betting-summary__result {
  width: 100%;
  font-size: 35px;
}
.betting-summary__values {
  padding-left: 6px;
  margin-left: 6px;
  font-size: 16px;
  text-align: left;
  border-left: 1px solid lightgrey;
  min-width: 112px;
}
.betting-summary__values table tr:last-child {
  border-top: 1px solid #262626
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #282c34;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@media only screen and (max-width: 700px)  {
  .App-header__content {
    flex-direction: column;
    margin: 0 10px;
  }
  .App-header h1 {
    margin: 0;
  }
}

@media only screen and (max-width: 420px) {
  .betting-summary {
    width: 95%;
  }
}
